.jumbotron {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e9ecef;
    padding: 20px;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.selecionado {
    background-color: yellow;
}

.negrito {
    font-weight: bold;
}

.dragthing {
    background: lightgrey;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    width: 250px;
}

#dragparentparent {
    display: flex;
}