<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bevacqua/dragula/dist/dragula.min.css">
    <link rel="stylesheet" href="../styles/drag.css">
    <title>Drag and Drop with Dragula</title>
</head>

<body onload="init()">
    <div id="dragparentparent">
        <div id="dragparent">
            <div class="dragthing">
                subscribe
            </div>
            <div class="dragthing">
                subscribe some more
            </div>
            <div class="dragthing">
                99% of you are not subscribed
            </div>
            <div class="dragthing">
                dragula
            </div>
        </div>
        <div id="dragparent1">
            <div class="dragthing">
                subscribe
            </div>
            <div class="dragthing">
                subscribe some more
            </div>
            <div class="dragthing">
                99% of you are not subscribed
            </div>
            <div class="dragthing">
                dragula
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/bevacqua/dragula/dist/dragula.min.js"></script>
    <script src="../controllers/drag.js"></script>
</body>

</html>